{
    email dpfeiffer@gmail.com
}

llod.garage.golf {
    # Match any path starting with /api, /jobs, or /accessories
    handle /api* {
        reverse_proxy backend:8000
    }
    handle /jobs* {
        reverse_proxy backend:8000
    }
    handle /accessories* {
        reverse_proxy backend:8000
    }

    # Fallback to frontend for everything else
    handle {
        reverse_proxy frontend:3000
    }
}
