{
    email dpfeiffer@gmail.com
}

llod.garage.golf {
    # Basic Auth (Username: danny, Password: lastline)
    basicauth * {
        danny `$2a$14$koZ37aTDnHzJHXK1A5YLMuOHHEPjz1MxD0.slwyDg6LOOvy.3WW4S`
    }

    handle /api* {
        reverse_proxy backend:8000
    }
    handle /jobs* {
        reverse_proxy backend:8000
    }
    handle /accessories* {
        reverse_proxy backend:8000
    }
    handle {
        reverse_proxy frontend:3000
    }
}
